<div *ngIf="user; else loadingOrError">
  <h2>Добро пожаловать {{ user.username }}</h2>
  <p>{{ user.email }}</p>

  <div>
    <img
      *ngIf="user.pathToUserIcon"
      [src]="user.pathToUserIcon || defaultIcon"
      alt="user avatar"
      width="200"
      (click)="fileInput.click()"
      style="cursor: pointer"
    />

    <input
      type="file"
      #fileInput
      accept="image/*"
      style="display: none"
      (change)="updateUserData($event)"
    />
  </div>

  <button (click)="logout()">Logout</button>
</div>

<ng-template #loadingOrError>
  <p *ngIf="error">{{ error }}</p>
  <p *ngIf="!error">Загрузка...</p>
</ng-template>
