<section>
  <div>
    <input
      type="text"
      name="username"
      id="username"
      [(ngModel)]="username"
      placeholder="Введите имя пользователя"
    />
    <input
      type="text"
      name="reason"
      id="reason"
      [(ngModel)]="reason"
      placeholder="Введите причину блокировки"
    />
    <input
      type="text"
      name="duration"
      id="duration"
      [(ngModel)]="duration"
      placeholder="Введите срок блокировки (в днях)"
    />
    <button [disabled]="isButtonDisabled" (click)="banUser()" type="submit">
      Заблокировать пользователя
    </button>
  </div>

  <div>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      id="username"
      placeholder="Введите имя пользователя"
    />
    <button (click)="unbanUser()" type="submit">
      Разблокировать пользователя
    </button>
  </div>

  <div>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Введите имя пользователя"
    />
    <button type="submit">Удалить пользователя</button>
  </div>

  <div>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Введите имя пользователя"
    />
    <button type="submit">Выдать права администратора</button>
  </div>

  <div>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Введите имя пользователя"
    />
    <button type="submit">Отобрать права администратора</button>
  </div>

  <div>
    <button (click)="deleteAllUsers()" type="submit">
      Удалить всех пользователей
    </button>
  </div>

  <div>
    <input
      type="text"
      name="updateUserRole"
      id="updateUserRole"
      placeholder="Введите имя пользователя"
    />
    <select name="role" id="role">
      <option value="user">Пользователь</option>
      <option value="admin">Администратор</option>
    </select>
    <button type="submit">Изменить роль пользователя</button>
  </div>

  <div>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Введите имя пользователя"
    />
    <button type="submit">Показать информацию о пользователе</button>
  </div>

  <div>
    <input
      type="text"
      name="updateUserStatus"
      id="updateUserStatus"
      placeholder="Введите имя пользователя"
    />
    <select name="status" id="status">
      <option value="seller">Продавец</option>
      <option value="buyer">Покупатель</option>
      <option value="guest">Гость</option>
    </select>
    <button type="submit">Изменить статус пользователя</button>
  </div>
</section>
