<div *ngIf="error; else userList">
  <p>{{ error }}</p>
</div>

<ng-template #userList>
  <div *ngIf="users.length > 0; else noUsers"></div>

  <p>Найдено пользователей: {{ users.length }}</p>

  <div *ngFor="let user of users">
    <h3>{{ user.username }}</h3>
    <p>Email: {{ user.email }}</p>
    <img
      [src]="user.pathToUserIcon || defaultIcon"
      (error)="onImgError($event)"
      alt="user-avatar"
      width="200"
    />
  </div>

  <ng-template #noUsers>
    <p>Нет пользоватлей для отображения</p>
  </ng-template>
</ng-template>
